# Vim tmp files
*~
*.swo
*.swp

# Other extensions
*.ali
*.beam
*.cmi
*.cmo
*.data.txt
*.jar
*.json
*.o

lunit*

# Specific files
.lein-deps-sum
.lein-failures
atexit.lua
lisp-unit.lisp
pom.xml
wordlist.txt
/solved/KataWordQuery/test

# Specific directories
_build/
KataWordWrap_tests/
__pycache__/
tags/
classes/
native/
.crystal/
